{% extends 'base_auth.html.twig' %}
{% block body %}
        <section class="py-20">
          <div class="wrapper">
            <div class="max-w-[800px] mx-auto">
              <p class="text-gray-500 dark:text-gray-400 font-medium mb-2">
                Mis à jour le
        <span class="text-gray-800 ml-1 inline-block dark:text-white/90">15 Jan, 2028</span>
      </p>
      <h2 class="mb-12 text-4xl font-semibold text-gray-800 dark:text-white/90">Politique de Confidentialité</h2>
              <div class="mb-6">
        <p class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-6">
          Toutes les informations de nos utilisateurs enregistrés (Nom, Email, Numéro de téléphone et Adresse) sont sécurisées. Nous nous engageons à prendre soin de toutes les informations et nous promettons à nos clients que nous ne partagerons jamais leurs informations.
        </p>
        <p class="text-gray-500 dark:text-gray-400 font-normal leading-6">
          De plus, nous ne stockons aucune information de carte de crédit sur le serveur, tous les paiements sont traités par les passerelles de paiement de premier plan PayPal et Paddle et notre site est sécurisé par le chiffrement SSL.
                </p>
              </div>
              <div class="mb-6">
        <h2 class="mb-4 text-2xl dark:text-white/90 font-semibold text-gray-800">Droits que vous avez sur vos données</h2>
        <p class="text-gray-500 font-normal dark:text-gray-400 leading-6 mb-4">
                  lineicons collecte des données sur les visites de lineicons.com.
                </p>
        <p class="text-gray-500 font-normal dark:text-gray-400 leading-6">
          Si vous avez un compte sur ce site, ou avez laissé des commentaires, vous pouvez demander à recevoir un fichier exporté des données personnelles que nous détenons sur vous, y compris toutes les données que vous nous avez fournies. Vous pouvez également demander que nous effacions toutes les données personnelles que nous détenons sur vous. Cela n'inclut pas les données que nous sommes obligés de conserver
                </p>
              </div>
              <div class="mb-12">
                <h2
                  class="mb-4 text-2xl font-semibold text-gray-800 dark:text-white/90"
                >
                  Nous accordons un remboursement si :
                </h2>
                <ul class="list-disc list-inside space-y-4">
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    The product purchased has stopped functioning or displaying
                    that we described to it’s details, or broken and we are not
                    able to give you solution.
                  </li>
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    The product purchased has stopped functioning or displaying
                    that we described to it’s details, or broken and we are not
                    able to give you solution.
                  </li>
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    If you opened any dispute before telling our support team
                    about your problem.
                  </li>
                </ul>
              </div>
              <div class="mb-12">
                <h2
                  class="mb-4 text-2xl font-semibold text-gray-800 dark:text-white/90"
                >
                  We don’t grant refund if :
                </h2>
                <ul class="list-disc list-inside space-y-4">
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    The product purchased has stopped functioning or displaying
                    that we described to it’s details, or broken and we are not
                    able to give you solution.
                  </li>
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    If you opened any dispute before telling our support team
                    about your problem.
                  </li>
                  <li
                    class="text-gray-500 dark:text-gray-400 font-normal leading-6 mb-4"
                  >
                    The product purchased has stopped functioning or displaying
                    that we described to it’s details, or broken and we are not
                    able to give you solution.
                  </li>
                </ul>
              </div>
              <div class="mb-12">
                <h2
                  class="mb-4 text-2xl font-semibold dark:text-white/90 text-gray-800"
                >
                  Membership cancellation
                </h2>
                <div class="space-y-4">
                  <p
                    class="text-gray-500 font-normal dark:text-gray-400 leading-6"
                  >
                    You can cancel your membership with us anytime you want by
                    sending an email to our support or openning a support
                    ticket. Unfortunately, we don’t have option to cancel
                    Membership from account settings right now but we are
                    working on it.
                  </p>
                  <p
                    class="text-gray-500 font-normal dark:text-gray-400 leading-6"
                  >
                    Still have any questions? feel free to open
                    <a href="#" class="text-primary-500 font-semibold"
                      >Support Ticket</a
                    >
                    to communicate directly!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
